<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Actualmente te falta: </h2>
  <div class="count-down-timer">
    <div class="wrapper">
      <div class="times">
        <p #hours> : </p>
        <p #minutes> : </p>
        <p #seconds> : </p>
      </div>
    </div>
  </div>
  <h2>Para tu próxima pausa</h2>
  <ion-button expand="block" color="primary" shape="round" (click)="detener()">Detener</ion-button>
</ion-content>
