ion-toolbar{
    text-align: center;
}

ion-text{
    font-size: 24px;
}  

.ion-text-center{
    margin-top: 130px;
}

  ion-button {
    margin-bottom: 400px;
    margin-top: 80px;
    padding: 0 100px;
    font-size: 10px;
    --ion-color-base: #588157;
  }
  